<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dbblog</name>
	<displayName><![CDATA[DB Blog]]></displayName>
	<version><![CDATA[2.0.3]]></version>
	<description><![CDATA[Blog para PrestaShop optimizado para SEO]]></description>
	<author><![CDATA[DevBlinders]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
